* {
    font-family: 'Nunito Sans', sans-serif;
}

#title {
    font-size: 48px;
    text-align: center;
}

.center {
    font-size: 30px;
    text-align: center;
}

.banner {
    width: 100%;
    height: auto;
}

.banner-container {
    object-fit: fit;
}

.bt{
    background-color: lightskyblue;
    font-size: x-large;
    color: white;
}